<div class="d-flex p-2 brand-text">
  <h1><%= @group.name.capitalize %>'s transactions</h1>
</div>

<div class="p-2 text-dark-50">
  <h3>Total spent: <%= @group.total_transaction %></h3>
</div>


<% @entities.each do |entity| %>
  <div class="p-2">
    <div class="card p-2 bg-light">
      <div class="card-body">
        <h5 class="card-title"><%= entity.name %></h5>
        <p class="card-text"><%= entity.amount %></p>
        <p class="card-text"><small class="text-muted"><%= entity.created_at %></small></p>
      </div>
    </div>
  </div>
<% end %>

<div class="p-2">
  <%= link_to "Add transaction", new_group_entity_path(@group, @entity), :class => "btn btn-primary" %>
</div>

